* {
    /*rest All default css*/
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    list-style: none;

}

a {
    color: transparent;
}

/* Navbar */
.navbar {
    height: 4rem;
    width: 100vw;
    background-color: #727D73;
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.navbar_logo {
    display: flex;
    height: 60px;
    filter: invert(100);
    width: 60px;
}

.navbar_search {
    position: relative;
    justify-content: center;
    text-align: center;
}

.navbar_search input {
    border: 0px;
    border-radius: 3px;
}

.navbar_search button {
    background-color: rgb(233, 203, 34);
    width: 2rem;
    border: 0px;
    border-radius: 3px;
}

.navbar_contant {
    display: flex;
    align-items: center;
    height: 3rem;
    width: 30rem;
    color: white;

}

.navbar_contant ul {
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 700;

}

.navbar_contant li {
    color: white;
}

.navbar_contant a {
    text-decoration: none;
    color: white;
    margin-left: 10px;
}

.navbar_icons i {
    color: white;
    font-size: 1.5rem;

}

.hover :hover {
    transform: scale(1.1);
    transition-duration: 0.8s;
}

/* hero section  */
.Hero_section {
    display: flex;
    /* flex-direction: row-reverse; */
    justify-content: space-evenly;
    justify-items: center;
    background-color: transparent;
    width: 100vw;
    height: 70vh;
    background-image: url(../images/hero\ section.webp);
    background-size: cover;
}

.Hero_section_text{
    width: 40rem;
    height: 15rem;
    border: 2px solid black;
    color: rgb(10, 10, 10);
    text-align: center;
    align-items: center;
    align-self: center;
    border-radius: 5px;
    transform: skew(-15deg);
   
}
.Hero_section_photo img {
    display: flex;
    position: relative;
    justify-items: center;
    align-self: center;
    transform: skew(-16deg);
   border-radius: 100px;
}
.Hero_section_photo {
    display: flex;
    position: relative;
    justify-items: center;
    align-self: center;
   border-radius: 100px;
}







footer{
    background-color: blanchedalmond;
    display: flex;
    height: 190px;
  }
  .side{
    display: inline-block;
    position: relative;
  }
  .center{
    margin: auto;
    text-align: center;
  }
  .last{
    margin: auto;
    display: inline-block;
    text-align: center;
    left: 50px;
  }
    
  .top{
    display: inline;
    position:fixed;
    right: 0px;
    bottom: 10px;
  }
  .top button{
    background-color: sandybrown;
    border: 0px;
    display: block;
    position: flex;
    padding: 10px;
    height: 50px;
    width: 50px;
    text-align: center;
    bottom: 200px;
    right: 30px;
    box-shadow: 5px 5px 30px white;
   
  }
  .fa {
    display: flex;
    position: relative;
    top: 2px;
    right: 20px;
    padding: 5px;
    font-size: 20px;
    width: 20px;
    text-align: center;
    text-decoration: none;
    margin: 10px;
  }
  
  .fa:hover {
      opacity: 0.7;
  }

  .fa-arrow-up{
  display: inline-block;
  right: 10px;
  top: -5px;
}
  
  .fa-facebook {
    background: #3B5998;
    color: white;
  }


  .about-contant{
    width: 100vw;
    height: 50vh;
    margin-top:20px ;
    background-color: black;
    background-image: url(../images/skills.avif);
    
  }